<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Demo</title>
    <script crossorigin src="<%= (htmlWebpackPlugin.options.config.reactUrl) %>"></script>
    <script crossorigin src="<%= (htmlWebpackPlugin.options.config.reactDomUrl) %>"></script>
</head>

<body>
<div>
    <link rel="stylesheet/less" type="text/css" href="/color.less" />
    <script>
        window.less = {
            async: false,
            env: 'production'
        };
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
    <div id="content"></div>
</div>
</body>
</html>
